<!DOCTYPE html>
<html>
<head><title>History</title>

<script type="text/javascript" src="/assets/admin/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/admin/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/admin/main.css">
<link rel="stylesheet" type="text/css" href="/assets/admin/profile.css">
<link rel="stylesheet" type="text/css" href="/assets/admin/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/admin/dropdown.css">

</head>
<body>

    <ul>
        <li><a href="/admin">Home</a></li>
        <li style="float:right"><a href="/logout">Log Out</a></li>
        <li style="float:right"><a href="/moderator/profile">Profile</a></li>
        <li style="float:right" ><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
        <li style="float:right"><a href="/admin/requestBox">Request Box</a></li>
        <li style="float:right"><a href="/admin/addAdmin">Admin List</a></li>
        <li style="float:right">
            <div class="dropdown">
                <div class="dropbtn">Moderator</div>
                <div class="dropdown-content">
                    <a href="/admin/addModerator">Add Moderator</a>
                    <a href="/admin/deleteModerator">Delete Moderator</a>
                </div>
            </div>
        </li>
        <li style="float:right">
            <div class="dropdown">
                <div class="dropbtn">Content</div>
                <div class="dropdown-content">
                    <a href="/admin/viewContent">View Content</a>
                    <a href="/admin/uploadContent">Upload Content</a>
                    <a href="/admin/deleteContent">Delete Content</a>
                </div>
            </div>
        </li>
    </ul>

<div class="container emp-profile">
<form name="adminSupport" method="POST">

    <h1 align:middle>Delete Moderator</h1>

    <table border="1" width="400px" class="table table-dark table-hover" >
		<tr>
			<th>User ID</th>
			<th>User Type</th>
            <th>Status</th>
            <th>Action</th>
		</tr>
		<tr>
        <% for(var i=0; i < qList.length; i++){ %>
			<td><%=qList[i].U_ID%></td>
            <td><%=qList[i].U_TYPE%></td>
            <td><%=qList[i].STATUS%></td>
			<td>
				<a href="/admin/deleteModerator/<%=qList[i].U_ID%>">DELETE</a> 
           </td>
         </tr>
         <% } %>
    </table>

</form>
</body>
</html>
