<!DOCTYPE html>
<html>
<head><title>Upload Content</title>

<script type="text/javascript" src="/assets/admin/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/admin/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/admin/main.css">
<link rel="stylesheet" type="text/css" href="/assets/admin/profile.css">
<link rel="stylesheet" type="text/css" href="/assets/admin/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/admin/dropdown.css">
</head>
<body>

    <ul>
        <li><a href="/admin">Home</a></li>
        <li style="float:right"><a href="/logout">Log Out</a></li>
        <li style="float:right"><a href="/moderator/profile">Profile</a></li>
        <li style="float:right" ><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
        <li style="float:right"><a href="/admin/requestBox">Request Box</a></li>
        <li style="float:right"><a href="/admin/addAdmin">Admin List</a></li>
        <li style="float:right">
            <div class="dropdown">
                <div class="dropbtn">Moderator</div>
                <div class="dropdown-content">
                    <a href="/admin/addModerator">Add Moderator</a>
                    <a href="/admin/deleteModerator">Delete Moderator</a>
                </div>
            </div>
        </li>
        <li style="float:right">
            <div class="dropdown">
                <div class="dropbtn">Content</div>
                <div class="dropdown-content">
                    <a href="/admin/viewContent">View Content</a>
                    <a href="/admin/uploadContent">Upload Content</a>
                    <a href="/admin/deleteContent">Delete Content</a>
                </div>
            </div>
        </li>
    </ul>

<div class="container emp-profile">

    <h1 align:middle>Upload Content</h1>

<form method="post" enctype="multipart/form-data">
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add files</span>
        <input type="file" name="files" multiple>
    </span>
    <br>
    <br>
    <!-- <h5>Select Category:</h5>
    <p>
    <select style="width:100px"class="btn btn-success fileinput-button" name="categories" >
        <option value="volvo">Image</option>
        <option value="saab">Audio</option>
        <option value="mercedes">Movie</option>
        <option value="audi">Tv Series</option>
    </select></p> -->

    <br>
    <button type="submit" class="btn btn-primary start">
        <i class="glyphicon glyphicon-upload"></i>
        <span>Start upload</span>
    </button>
    <button type="reset" class="btn btn-warning cancel">
        <i class="glyphicon glyphicon-ban-circle"></i>
        <span>Cancel upload</span>
    </button>

    
        
      
</form>    
</div>
</body>
</html>
