<!DOCTYPE html>
<html>
<head><title>Home | Moderator</title>

<link rel="stylesheet" type="text/css" href="/assets/moderator/main.css">
<link rel="stylesheet" type="text/css" href="/assets/moderator/dropdown.css">

</head>
<body>
<form name="ModeratorHome">

<ul>
	<li><a href="/moderator">Home</a></li>
	<li style="float:right"><a href="/logout">Log Out</a></li>
	<li style="float:right"><a href="/moderator/profile">Profile</a></li>
	<img src="<%=M_IMAGE%>" style="border-radius: 50%;width:50px;height:50px;float:right">
	<li style="float:right" ><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
	<li style="float:right"><a href="/moderator/requestBox">Request Box</a></li>
	<li style="float:right">
		<div class="dropdown">
			<div class="dropbtn">Content</div>
			<div class="dropdown-content">
				<a href="/moderator/viewContent">View Content</a>
				<a href="/moderator/uploadContent">Upload Content</a>
				<a href="/moderator/deleteContent">Delete Content</a>
			</div>
		</div>
	</li>
</ul>

<div class="container-login100">
	<h1>Welcome <%=M_NAME%></h1> 
</div>























</form>
</body>
</html>
