<!DOCTYPE html>
<html lang="en">
<head>
	<title>Support</title>
	<link rel="stylesheet" type="text/css" href="/assets/login/css/main.css"/>
	<style>
	.input100{
		width: 550px;

	}
	</style>
</head>

<body>
	<ul>
    
        <li style="float:right"><a href="/">Home</a></li>
	</ul>
	
	<div class="container-login100">
		<form method="POST">

			<div class="wrap-input100 validate-input" data-validate = "Can not submit empty">
				<input class="input100" type="text" name="requestText" placeholder="Type request here" width="80%" height="60%" align="center"/>
				<span class="focus-input100"></span>
			</div>

			<div class="container-login100-form-btn">
				<input class="login100-form-btn" type="submit" value="Send"/>
			</div>
		</form>
	</div>
	

</body>
</html>